@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Quicksand:wght@300..700&display=swap');
:root {
  --main_color:#D39833;
  --main_color_light:#F4E3CF;
  --sub_color:#5A4638;
  --sub_light:#f9f4eb;
  --dark_white:rgb(129, 129, 129);
  --sky:#f9f5ed;
  --deep_navy:#2A3A47;
  --main_font:"Quicksand", sans-serif;
}
/* font-family: "Cairo", serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  font-family: var(--main_font) !important;
}

/* main style */

 button,input{
  border: none;
  outline: none;
 }

a {
  color: inherit;
  text-decoration: none !important;
}
ul li{
  list-style: none;
}


/* bootstrap */
.dropdown-toggle::after {
  display: none !important;
}
.accordion-header button{
  color: black;
  font-weight: 600;
}
.accordion-header button[aria-expanded="true"]{
  background-color: var(--main_color) !important;
  color: white;
}
.accordion-header button:focus{
  box-shadow: none !important;
}
.opposite_arrow .accordion-button::after {
  margin-left: 0;
  margin-right: auto;
}
.nav-tabs li button{
  color: black;
  font-weight: 700;
}
.nav-tabs li .active{
  background-color: transparent !important;
  color: black !important;
  border-top: 4px solid #2A3A47 !important;
}


/* custome style */
.color-main{
  color: var(--main_color);
}
.over{
  overflow: hidden;
}

.field{
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.field input{
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fb64;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.362);
  border: 1px solid rgb(242, 241, 241);
  width: 100%;
  transition: all .4s;
}
.field input::placeholder{
  transition: all .4s;
}
.field input:focus{
  scale: 1.02;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.362);
}
.field input:focus::placeholder{
  font-size: 0.6875rem;
}
.field label{
  font-weight:600;
  margin-bottom:10px;
}
.toast_content *{
  font-family: var(--main_color) !important;
  text-align: center;
}
.ar_direction{
  direction: rtl;
}

@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}
@media screen and (max-width:550px) {
  .swiper-button-next,
  .swiper-button-prev {
      display: none !important;
  }
}