.contracts_body {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.12);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contract_content {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.12);
  margin-top: 15px;
  position: relative;
}
.estates_content{
  border-radius: 10px;
  background-color: var(--sub_white);
}
.content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
}

.contract_table {
  border-collapse: separate !important;
  border-spacing: 0;
  /* border-radius: 20px; */
  /* border: 1px solid #ccc; */
}
.table_body tr td {
  text-align: center;
  background-color: transparent;
  padding: 10px 0;
}
.table_head tr th {
  background-color: #f8f9fd;
  text-align: center;
  color: var(--dark_white);
  font-weight: 500;
  padding: 10px 0;
}

.status_span{
  padding: 1px 12px;
  border-radius:15px;
  font-size: 12px;
}

.green{
  background-color: rgb(206, 243, 193);
  color: green;
}
.red{
  background-color: rgb(252, 191, 191);
  color: red;
}
.orange{
  background-color: rgba(245, 207, 150, 0.228);
  color: rgb(197, 131, 7);
}
.yellow{
  background-color: rgb(247, 247, 212);
  color: rgb(157, 162, 8);
}
.dropdown_menu{
  background-color: transparent !important;
  border: none !important;
  color: var(--dark_white) !important;
}



/* revenue */
.select_type{
  min-width: 9.375rem;
}
.rev_note{
  font-size: 13px;
  color: var(--dark_white);
}

@media screen and (max-width:800px) {
    .content_header {
        flex-direction: column;
        align-items: start;
      }
}
@media screen and (max-width:570px) {
    .content_header {
        padding-inline:2px;
      }
}
