.search_container{
    background-color: transparent !important;
    border: 0.0625rem solid rgb(201, 200, 200) !important;
    padding: 3px !important;
    position: relative;
    border-radius: 0.655rem;
    min-width: 300px;
}
.search_container input{
    background-color: transparent !important;
    border: none;
    outline: none;
    box-shadow: 0 0 0 transparent;
    width:100%;
    padding:3px 10px;
    height: 100%;
}

.search_icon{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1.0625rem;
    padding-inline: 10px;
    height: 101%;
    cursor: pointer;
    background-color: var(--deep_navy);
    border: none;
    transition: all .3s;
}
.search_icon_ar{
    left: 0;
    border-radius: 10px 0 0 10px;
    transform: translate(-50%,-50%);
}
.search_icon_en{
    right: 0;
    border-radius:0 10px  10px 0;
    transform: translateY(-50%);
}
.search_icon:hover svg{
    background-color: var(--dark_white);
}

@media screen and (max-width:1100px) {
    .search_container{
     min-width:80% !important;
     margin: auto;
    }
 }
@media screen and (max-width:350px) {
    .search_container{
     min-width:100% !important;
     margin: 10px auto;
    }
 }

